extends ../layout

block content
  .loginbox
    .page-header
      h3 Sign in
    form.form-horizontal.input(method='POST')
      .row
        .row
          a.btn-large.social-login(href='/auth/facebook')
            i.fa.fa-facebook.pre
            h3 Login
        input(type='hidden', name='_csrf', value=_csrf)
        h3 or
        .row
          .input-field.col.s12
            label(for="email") Email
            input(id="email", name="email", type="email", class="validate")
        .row
          .input-field.col.s12
            label(for="password") Password
            input(id="password", name="password", type="password", class="validate")
        .row
          .btn-large(type="submit") Login


          a.btn.btn-link(href='/forgot') Forgot your password?
