extends layout

block content
  #homeHeader
    .bodyLogo Fragment
    h4(style="margin-top: -60px; margin-bottom: 60px; text-align: right; margin-right: 100px;") &bull; noun &bull; ˈfraɡm(ə)nt/ &bull; 1. a small part broken off or separated from something.
    h1 Find your loved ones with the power of social media.
  #homeSearch
    .row.highlight
      .input-field
          input(id="facebook_search", onkeyup="testInputValue()", type="text", class="validate", placeholder="Search for someone via Facebook URL" )
          .btn-large(id="facebook_submit", type="button")
            i(class="material-icons") Go
  #homeSelect
    .progress
      .indeterminate
    #whois
    #results

block postscripts
  script(type="text/javascript").
    $('html').addClass('home');

  script(src="../../js/lib/home.js")
